body {
    text-align: center;
    justify-content: center;
    align-items: center;
    font-family: Roboto;
    font-size: 56px;
    font-weight: 700;
    background-color: #EEF9BF;

}

.cards-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 109px;
}

h1 {
    font-family: Roboto;
    font-size: 56px;
    font-weight: 700;
    padding: 40px 0 27px 0;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #75B79E;
    margin: 0 10px;
}

@media only screen and (max-width: 523px) {
    h1 {
        font-family: Roboto;
        font-size: 36px;
    }
}

.card {
    min-height: 146px;
    min-width: 117px;
    margin: 17px;
    background-color: #A7E9AF;
    border: 1px solid #99CEA8;
    border-radius: 5px;
    cursor: pointer; 
    display: flex;
    align-items: center;
    justify-content: center;
    perspective: 1000px;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.card-front {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #A7E9AF;
    transform: rotateY(180deg);
}


.card-back {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #A7E9AF;
    transform: rotateY(0deg);
}

.card img {
    height: 100px;
    width: 100px;
}

.toggle {
    transform: rotateY(180deg);
}